---
---

<footer class="footer">
  <div class="container container--fluid">
    <div class="footer__links">
      <a class="footer__link-item" href="https://github.com/marutpun" target="_blank" rel="nofollow noreferrer">Github</a>
    </div>
    <p class="margin-bottom--none">Made by Marut Punsakorn</p>
  </div>
</footer>
