---
---

<nav class="navbar navbar--fixed-top">
  <div class="navbar__inner">
    <div class="navbar__items">
      <a class="navbar__item navbar__link" href="/">Homepage</a>
      <a class="navbar__item navbar__link" href="#url">Learning</a>
    </div>
  </div>
</nav>
